@model PrinterToner.Models.Sale

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Brisanje kretanja štampača</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ugovor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract.ContractName)
        </dd>

        <dt>
           Štampač
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printer.PrinterSerialNo)
        </dd>

        <dt>
            Datum
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.SaleDate))
            @*@Html.DisplayFor(model => model.SaleDate)*@
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Novi ugovor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateContract)
        </dd>

        <dt>
            Kreirano
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
