@model IEnumerable<PrinterToner.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Kretanje štampača</h2>

<p>
    @Html.ActionLink("Unesi novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ugovor
        </th>
        <th>
            Firma
        </th>
        <th>
            Serijski broj
        </th>
        <th>
            Datum
        </th>
        <th>
            Cena
        </th>
        <th>
            Novi ugovor
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contract.ContractName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contract.Owner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterSerialNo)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SaleDate))
            @*@Html.DisplayFor(modelItem => item.SaleDate)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternateContract)
        </td>
        
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.SaleID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.SaleID })
        </td>
    </tr>
}

</table>
