@model IEnumerable<PrinterToner.Models.Toner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TonerModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TonerIsOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TonerYield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TonerProductNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TonerModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TonerIsOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TonerYield)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TonerProductNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TonerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TonerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TonerID })
        </td>
    </tr>
}

</table>
