@model IEnumerable<PrinterToner.Models.Servis>

@{
    ViewBag.Title = "Index";
}

<h2>Spisak svih servisnih radnji</h2>

@using (Html.BeginForm())
{ <p> Serijski broj: @Html.TextBox("searchBySerialNo") <input type="submit" value="Search" /></p> }


<p>
    @Html.ActionLink("Unesi novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vlasnik
        </th>
        <th>
            Serijski broj
            @*@Html.DisplayNameFor(model => model.Printer.PrinterInternalNo)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Napomena)
        </th>
        <th>
            Cena
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterSerialNo)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ServisDate))
            @*@Html.DisplayFor(modelItem => item.ServisDate)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisPrice)
        </td>
       
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.ServisID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ServisID })
        </td>
    </tr>
}

</table>
